<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to CoffeeCap</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/input_styles.css">
  </head>
  <body>
    <div class="coffee_log">
      <div id="siteHead">
        <h1>Coffee Log</h1>
        <p id="little"> by CoffeeCap</p>
      </div>
      <h1>Welcome, {{user_nickname}}, to CoffeeCap</h1>
      <p id="little"> by CoffeeCap</p>
      <form method="post" action="/profile">
        <input type="text" name="coffee_type" placeholder="Coffee Type" class="putCoff" required> <br>
        <input type="text" name="caffeine_amount" placeholder="Caffeine Amount" class="putCoff"required> <br>
        <input type="submit" value="Submit" class= "putCoff">
      </form>
      <a href={{logout_url}}>Logout</a>
    </div>
  </body>
</html>
