<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to CoffeeCap</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/input_styles.css">
  </head>
  <body>
    <div class="coffee_log">
      <div id="siteHead">
        <h1>Caffeine Log</h1>
        <p id="little"> by CoffeeCap</p>
      </div>
      <!-- <form method="post"> -->
        <!--Make sure the form has the autocomplete function switched off:-->
      <form method="post" autocomplete="off">
        <div class="autocomplete" style="width:300px;">
          <input id="myInput" type="text" name="caffeine_drink" placeholder="Caffeine Drink">
        </div>
        <input type="submit">
      </form>
      <!-- </form> -->
      <a href={{logout_url}}>Logout</a>
    </div>
  </body>
  <script src="scripts/input_script.js"></script>
</html>
