<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src = "main.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      <input type="text" id = "login-username" placeholder="Username">
      <input type="password" id = "login-password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
    Not Registered? <a href = "register.html" > Login</a>
  </body>
</html>
