<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../styles/output_style.css">
    <script src="scripts/output_script.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section>
      <h1>Welcome, {{user_nickname}}</h1>
      {% if caffeine_per_day == None %}
      <h2>Today</h2>
      {% else %}
      <h2>This Week</h2>
      {% endif %}
      <div class="full_table">
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Caffeine Drink</th>
                <th>Caffeine Amount (mg)</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              {% for caffeine_entry in caffeine_log %}
              <tr>
                <td>{{caffeine_entry.drink_name}}</td>
                <td>{{caffeine_entry.caffeine_content}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class = "output_text">
      {% if caffeine_per_day == None %}
      You have drank {{total_caffeine}} mg of caffeine today.
      {% endif %}
      {% if total_caffeine > 400 and caffeine_per_day == None %}
      <p id="warning">You have exceeded 400 mg of caffeine, please cut back from now on.</p>
      {% endif %}
      {% if caffeine_per_day != None %}
      <p id="per_day">You drink {{caffeine_per_day}} mg of caffeine per day</p>
        {% if caffeine_per_day > 400 %}
        <p id="warning">You have exceeded 400 mg of caffeine per day, please cut back from now on.</p>
        {% endif %}
      {% endif %}
    </div>
      <!-- <input type="hidden" id="hidden" name="hidden" value="blank"> -->
      <div class="navigation">
        <form method="get" action="/input">
          <input type="submit" value="Add Input"/>
        </form>
        <form method="get" action="/link">
          <input type="submit" id="this_week" value="This Week"/>
        </form>
        <a href={{logout_url}}>Logout</a>
      </div>
    </section>
  </body>
</html>
