<!DOCTYPE html>
<html>
  <head>
     <title>User Coffee Profile</title>
     <link src="script/profile_script.js"></link>
  </head>
  <body>
    <div class="coffee_log">
      <h1>Welcome, {{user_nickname}}</h1>
      <h2>Coffee Consumption Log</h2>
      <ul>
          {% for coffee_entry in coffee_log %}
          <li>
            Time: {{coffee_entry.time}}<br>
            Type: {{coffee_entry.type}}<br>
            Caffeine Content: {{coffee_entry.caffeine_content}}
          </li>
          {% endfor %}
      </ul><br>
      You have had {{total_caffeine}} mg of caffeine today.<br>
      {% if total_caffeine > 400%}
      You have exceeded 400 mg of caffeine, please cut back from now on.
      {% endif %}
    </div>

    <div class="navigation_buttons">
      <form method="get" action="/input">
        <input type="submit" value="Add Input"/>
      </form>
      <a href={{logout_url}} >Logout</a>
    </div>
  </body>
</html>
