<!DOCTYPE html>
<html>
  <head>
     <title>User Coffee Profile</title>
     <link src="script/profile_script.js"></link>
  </head>
  <body>
    <div class="coffee_log">
      <h1>Coffee Consumption Log</h1>
      <ul>
          {% for coffee_entry in coffee_log %}
          <li>
            Time: {{coffee_entry.time}}<br>
            Type: {{coffee_entry.type}}<br>
            Caffeine Content: {{coffee_entry.caffeine_content}}
          </li>
          {% endfor %}
          <li>
            default new <br>
            Time: {{new_log.time}}<br>
            Type: {{new_log.type}}<br>
            Caffeine Content: {{new_log.caffeine_content}}
          </li>
      </ul>
    </div>
    <div class="navigation_buttons">
      <form method="get" action="http://localhost:8080/input">
        <input type="submit" value="Add Input"/>
      </form>
    </div>
  </body>
</html>
