body{
  background-image: url("../styles/chair-coffee-shop-counter-597929.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none;
  margin: none;
  background-size: 100%;
}

.coffee_log{
  flex-direction: column;
  flex-flow: column;
  padding: 10%;
  background-color: #40200d;
  margin:5%;
  align-content: center;
  justify-content: center;

}

#siteHead{
  align-items: center;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  justify-content: center;
  margin: 10%;
  padding:2%;
  align-self: center;
}


.putCoff{
   display: flex;
   justify-content: center;
   align-items: center;
   margin:auto;
   padding-left: 20%;
   padding-right: 20%;
   margin-top: 5%;
   margin-bottom: 5%;

}


placeholder {
  align-items: center;
  justify-content: center;
  font-style:
}

#subCof{
  background-color: #e0bca6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

#subCof:hover {
  background-color: black;
  color: #e0bca6;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
