*{
  padding: 0;
  margin: 0;
}
body{
  background: url(chair-coffee-shop-counter-597929.jpg);
  display: flex;
  /* align-items: center;
  justify-content: center;*/
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100%;
  width: 100%;
  flex-direction: column;

}

.top{
  justify-content: center;
  align-items: center;

}

.menu{
  float: right;
  height: 10vh;
}

.menu ul{
  overflow: hidden;
  display: inline-flex;
  margin: 25px;
}



.coffee_log{
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 5%;
  background-color: rgba(64, 32, 13, 0.7);
  margin:50px auto;
  align-content: center;
  justify-content: center;
  border-radius: 10px;

}

#topCoff{

  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  text-align: center;
}

#siteHead{
  align-items: center;
}

h2{
  color: white;
  text-align: center;
}

/* h1{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  justify-content: center;
  margin: 10%;
  padding:2%;
  align-self: center;
} */
::placeholder{
  color: rgba(255,255,255,0.5);
}

.putCoff{
   display: flex;
   margin:auto;
   padding-right: 20%;
   margin-top: 5%;
   margin-bottom: 5%;
   min-height:50px;
   min-width: 150px;
   border: none;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
   color: #fff;
   font-size: 16px;
}


#subCof{
  background-color: #e0bca6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

#subCof:hover {
  background-color: black;
  color: #e0bca6;
}
.list-item{
  list-style: none;
  margin: 0px 20px;
  cursor: pointer;
  color: white;
}
.list-item:hover{
  border-bottom: 1px solid black;
  color: #ee156d;
}


img{
  min-width: 51.2px;
  max-width: 51.2px;
  height: 51.2px;
  margin-top: -20px;
  margin: 10px 20px;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;

}
